/* apply a natural box layout model to all elements */
html {
	box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }


/*
  TYPOGRAPHY
*/
h1, h2, h3, h4, h5, h6, p, li, a, td, figcaption {
	font-family: 'PT Sans', sans-serif;
	/* also adjust margin and line-height */
  }

  h1 {
	font-size: 35px;
  }

  h1 span {

  }

  h2 {

  }

  h3 {
	letter-spacing: 2px;

  }

  p {
	font-size: 20px;
  }



.container{
	padding: 45px;
}

.flexcontainer {
	display: flex;
}

.wrapper{ /*Part of left side Google Account Information */
	width: 340px;
	height: 550px;
	padding: 10px;
    background-color: #e2e2e2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
    text-align: center;
}
.wrapper h2{
	font-size: 20px;
	color:#333;
	text-align: center;
}
.wrapper img{
	max-width: 70%;
	border-radius: 50%;
}
/* Left Side Google Account Information */
.ac-data{
	text-align: left;

}

/*
  HEADER
*/
.menu_section{
	color: #fff;
	background-color: #990000;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
  }


  .logo img{
	width: 500px;

  }

  .container2{
	display: flex;
	flex-direction: row;
  }
  .container_main{
	border-style: solid;
	border-color: rgb(34, 204, 0);
	padding-left: 10px;
	padding-right: 50px;
  }
  header h1, .container {
	max-width: 800px;
	margin: 0 auto;

  }

  header img{
	padding: 3.0em 0em;
  }
  header a img:hover{
	opacity: 0.5;
  }

  header h1 {
	padding: 2.0em 0em;
  }
  header a{
	color: #ffffff;
	text-decoration: none;
  }
  header a:hover{
	color: #ffffffec;
  }

/* navigation part  */

.openbtn {
	position: absolute;
	left: 20px;
	top: 20px;
	color: rgb(255, 255, 255);
	font-family: 'PT Sans', sans-serif;
  }
  .openbtn:hover {
	color: grey;
  }
  .menu-text {
	font-size: 11px;
	display: block;
  }

  /* The side navigation menu */
  .all-over-bkg {
	display: none;
  }

  .is-visible {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 9999;
	display: block;
  }

  #mySidenav {
	z-index: 10000;
  }

  .sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	background-color: #00000017;
  }

  /* The navigation menu links */
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
	color: grey;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }


/* Flex Box */
.side_section{
	border-style: none;
	/*border-color: #0011ff; */
	border-width: 5px;
	padding-left: 50px;

	display: flex;
	justify-content: space-evenly;


  }


/*
Match List  */
.match_list {
	color: rgb(255, 255, 255);
	margin-left: 15px;
	padding-left: 15px;

	/*border: 6px solid rgb(6, 2, 255);*/
	background-color: #990000da;
	width: 1000px;
	height: 1050px;
	overflow: scroll;
}

.match {
	color: rgb(255, 255, 255);
	margin-top: 50px;
	padding-left: 15px;
	margin-left: 15px;
	margin-right: 20px;
	padding-right: 15px;
	/*border-color: rgb(109, 109, 109);*/
	padding-bottom: 2rem;
	background-color: #990000ec;
	border-radius: 25px;
    border: 3px solid rgb(254, 255, 252);

}

.match a{
	text-decoration: none;
	color: white;
	transition: 0.3s;
}

.match a:hover {
	color: grey;
  }

#map {
	/* Set the size of the div element that contains the map */
	  height: 300px;  /* The height is 400 pixels */
	  width: 30%;  /* The width is the width of the web page */
}
/*Footer */
.connect{ /* part 1 of Footer*/
	text-align: center;
	padding-top: 20px;
	padding-bottom: 25px;
	background-color: #990000;
}
.connect h2{
	font-size: 30px;
	color: white;
	letter-spacing: 1.5px;
}

footer {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #251002e5;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	
  }

/* Right Side Meddage Section*/
.message {
	background-color: rgb(247, 247, 247);
	border-style: none;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;


}


/* message_popup  */
/* Style and fix the button on the page */
/* Position the Popup form */
.login-popup {
position: relative;
text-align: center;
width: 100%;
}

/* Hide the Popup form */
.form-popup {
display: none;
position: fixed;
left: 45%;
top:5%;
transform: translate(-45%,5%);
border: 2px solid #666;
z-index: 9;
background-color: #2CA1DC;
}

.login-popup {
position: relative;
text-align: left;
width: 100%;
}

/* Styles for the form container */
.form-container {
max-width: 350px;
padding: 20px;
background-color: #fff;
}

/* Full-width for input fields */
.form-container input[type=text] {
width: 100%;
height: 100px;
padding: 10px;
margin: 5px 0 22px 0;
border: none;
background: #eee;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
background-color: #ddd;
outline: none;
}


/* join_popup  */

.join-popup {
position: relative;
text-align: center;
width: 100%;
}

/* Hide the Popup form */
.join-result-popup {
display: none;
position: fixed;
left: 45%;
top:15%;
transform: translate(-45%,5%);
border: 2px solid #666;
z-index: 12;
background-color: #f5f5f5;
}

/* show map */
#map {
	height: 400px;
	width: 100%;
}
